.edit-out{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.unk{
    /* background: green; */
   
}
.i-unk{
    /* background-color: aqua; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 2rem;
}  
.ii-unk input{
    width: 250px;
    height: 40px;
    padding-left: 9px;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.ii-unk  h2{
    text-align: center;
}
.ii-unk {
    display: flex;
    justify-content: center;
}
.for{
    display: flex;
    justify-content: center;
}